fastapi==0.115.12
uvicorn==0.34.1
python-multipart==0.0.20
python-dotenv==1.1.0
loguru==0.7.3

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

sqlalchemy==2.0.40
pydantic==2.11.3
pydantic-settings==2.9.1
email-validator==2.2.0

pypdf==5.1.0
PyMuPDF==1.25.5

openai==1.54.3
httpx
cohere==5.13.11
faiss-cpu==1.11.0.post1
numpy==1.26.4
